Muschelli_List_of_Jobs.xlsx
Statements/*.pdf
Cover_Letter_Academia/*
Cover_Letter_Industry/*
Letters_of_Ref.txt
Muschelli_List_of_Jobs.xlsx
Signature.pdf
Interesting_Project.txt
*.aux
*.log
*.out
*.synctex.gz
*.bak
.dropbox
.dropbox/*
.run.xml
*_SRI.*